
body {
    background-color: beige;
    font-family: Arial;
    text-align: center;
}

h1 {
    background-color: brown;
    color: white;
    padding: 20px;
}

h2 {
    color: brown;
}

p {
    font-size: 18px;
}

img {
    border-radius: 10px;
}

input {
    padding: 8px;
}

button {
    background-color: brown;
    color: white;
    padding: 10px;
    border: none;
}